.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
  }
  
  .border {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .border .point {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 2px solid #EF4931;
    margin: 2.5px 0 10px;
  }
  
  .timeline-item-content .line {
    flex: 1;
    width: 5px;
    background: #f4f4f4;
    border-radius: 10px;
    position: absolute;
    right: -34px;
    top: 1px;
    height: calc(100% - 5px);
  }
  
  .timeline-container::after :hover,
  .timeline-container::after :focus {
    opacity: 1;
  }
  
  .timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
    box-shadow: #202020;
  }
  
  .timeline-item :hover,
  .timeline-item :focus {
    opacity: 1;
  
  }
  
  .timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
  }
  
  
  .timeline-item-content {
    background-color: #202020;
    border-radius: 5px;
    color: #EF4931;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
    
    border-radius: 10px;
    border: 2px solid #EF4931;
    opacity: 0.4;
  
  }
  
  .timeline-item-content::after {
    content: ' ';
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.17);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
  }
  
  .timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
  }
  
  .timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
  }
  
  .timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
  }
  
  .timeline-item-content time {
    color: whitesmoke;
    font-size: 15px;
    font-weight: 400;
  }
  
  .timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
    color: whitesmoke;
    font-weight: 700;
    
  }
  .timeline-item-content button {
    border-radius: 20px;
    border: none;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bolder;
    
    
    padding: 5px 20px 5px 15px;
    background: linear-gradient(180deg,red,rgba(201, 201, 110, 0.696));
    box-shadow: 0px 20px 24px 3px rgba(red,rgba(201, 201, 110, 0.696));
    
  }
  
  .timeline-item-content a {
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
  }
  
  .timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
  }
  
  .timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #EF4931;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
  }
  
  .timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -42px;
  }
  
  .timeline-item:nth-child(odd) .timeline-item-content .line {
    right: auto;
    left: -34px;
  }
  
  @media only screen and (max-width: 1023px) {
    .timeline-item-content {
      max-width: 100%;
    }
  }
  
  @media only screen and (max-width: 767px) {
  
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
      padding: 15px 10px;
      text-align: center;
      align-items: center;
    }
  
    .timeline-item-content .tag {
      width: calc(100% - 10px);
      text-align: center;
    }
  
    .timeline-item-content time {
      margin-top: 20px;
    }
  
    .timeline-item-content a {
      text-decoration: underline;
    }
  
    .timeline-item-content a::after {
      display: none;
    }
  }

  @media only screen and (max-width: 450px){

    .timeline-container {
      justify-content: center;
      margin-left: 5rem;

    }
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
      padding: 15px 10px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  

  }

  
  